<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/CSS/css002.css">
    <link rel="stylesheet" href="/CSS/css003.css">
</head>
<body>
<hr/>
<div class="container">
        <div class="panel active" style='background-image: url("http://p0.so.qhmsg.com/t012b9609a9a58aa954.jpg")'>
            <h3>1</h3>
        </div>
        <div class="panel" style='background-image: url("http://hbimg.huabanimg.com/58d93e962a9eb75860f84bd030e957e8d254fff53f19a-5p5FqJ_fw658")'>
            <h3>2</h3>
        </div>
        <div class="panel" style='background-image: url("http://picnew11.photophoto.cn/20161223/menghuanguangbanpsbishua-23859387_1.jpg")'>
            <h3>3</h3>
        </div>
        <div class="panel" style='background-image: url("http://picnew7.photophoto.cn/20130601/guangbansucaitupian-13049807_1.jpg")'>
            <h3>4</h3>
        </div>
        <div class="panel" style='background-image: url("https://p1.ssl.qhimgs1.com/sdr/400__/t01c0a927d4e8ca86fb.jpg")'>
            <h3>5</h3>
        </div>
</div>
<hr style="color: black"/>
<div class="container2">
    <div class="progress_container">
        <div class="progress" id="progress"></div>
        <div class="circle active">1</div>
        <div class="circle">2</div>
        <div class="circle">3</div>
        <div class="circle">4</div>
        <div class="circle">5</div>
    </div>
    <button class="btn" id="prev" value="<" ></button>
    <button class="btn" id="next" value=">" ></button>
</div>
<script src="/js/card.js"></script>
<script src="/js/progress.js"></script>
</body>
</html>